div.row,
div.col {
  display: flex;
}
div.col {
  flex-direction: column;
}
div.Select,
div.Input {
  display: flex;
  flex-direction: column;
  width: 100%;
  label {
    color: white;
    margin-left: 13px;
    margin-bottom: 8px;
    font-size: 0.9rem;
  }
  input,
  select {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 8px 13px;
    border-radius: 15px;
    border: 1px solid transparent;
    &::placeholder {
      text-align: center;
    }
    &:focus {
      background-color: #111;
      color: white;
      outline: none;
      border: 1px solid #777;
    }
  }
}
